#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-light);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}