/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-dark: #27292B;
  --color-light: #fffef3;
  --color-muted: #605e4f;
  --color-accent: #4e705a;
  --color-success: #0FD27A;
  --color-error: #D20F12;

  /* Fonts */
  --font-title: 'Cormorant Garamond', serif;
  --font-body: 'Inter', sans-serif;

  /* Base typography */
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
  font-family: var(--font-body);
  background-color: var(--color-light);
  color: var(--color-dark);
}